.search {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: $secondary-color;
  padding: 4rem;

  &__form {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 80%;
    transform: translateX(-50%);
  }

  &__input {
    width: 100%;
    padding: 1rem;
    border: none;
    background-color: $extra-grey;
    border-radius: 1.5rem;

    &:focus {
      outline: none;
    }
  }

  &__header {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $primary-color;
    font-size: 6rem;
    width: 90%;
    text-align: center;
  }

  &__start {
    height: 100%;
  }

  &__start-back {
    background-image: url("../../img/search-start.jpg");
    height: 20rem;
    width: 15rem;
    background-position: center;
    background-size: cover;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
  }
}

.search__error {
  width: 100%;
  height: 80%;
  position: relative;
  top: 10%;

  .error-header {
    position: relative;
    top: 10%;
    font-size: 6rem;
    text-align: center;
    color: $extra-rose;
  }

  .error-img {
    position: absolute;
    background-image: url("../../img/error.png");
    height: 25rem;
    width: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    left: 50%;
    top: 50%;
    transform: translate(-60%, -50%);
  }
}

.search__preview {
  position: absolute;
  top: 20%;
  width: calc(100% - 8rem);
  height: calc(100% - 20% - 4rem);
  overflow: scroll;
  padding: 2rem;

  display: grid;
  grid-template-rows: repeat(3, 15rem);
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-auto-rows: 15rem;
  grid-auto-columns: 1fr;
  grid-gap: 2rem;

  &-info {
    & > *:not(:last-child) {
      padding-bottom: 2rem;
    }
  }

  &-item {
    padding: 2rem;
    background-color: greenyellow;
    display: flex;
    justify-content: space-between;
    border-radius: 1.5rem;

    &:hover {
      box-shadow: 0rem 1rem 1rem rgba($extra-red, 0.3);
    }

    &:focus {
      border: 1px solid $extra-rose;
    }
  }

  &-img {
    width: 10rem;
    object-fit: cover;
    height: 100%;
    border-radius: 1.5rem;
  }
}
